body {
    line-height: 1.6;
    margin: 2em;
   
        background-color: rgb(31, 51, 65);
        color: rgb(255, 255, 255);
        font-size: 87.5%; 
        /*Font Size is 14 */
        font-family: Arial, "Comic Sans Ms";
        text-align: left;
    
}

th {
    background-color: #001f3f;
    color: #fff;
    padding: 0.5em 1em;
}

td {
    border-top: 1px solid #eee;
    padding: 0.5em 1em;
}

input {
    cursor: pointer;
}

/* Column types */
th.missed-col {
    background-color: #f00;
}

td.missed-col {
    background-color: #ffecec;
    color: #f00;
    text-align: center;
}

.name-col {
    text-align: left;
}
a{
	text-decoration: none;
	color: rgb(109, 205, 253);
  
}
a:link, a:visited{
color: #000000;
}
a:hover, a:active{
background-color: #61a6c1;
color:#fff;
}

.body{
margin: 0 auto;
width: 70%;	 
clear: both;
}
.mainheader img{
	width: 10%;
	height: auto;
	margin: 2% 0;
}
.mainheader nav{
background-color: rgb(123, 187, 233);
height: 40px;
line-height: 40px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
text-align:center;
}
.mainheader nav ul {
list-style-type: none;
display: inline-flex;
margin: 0 auto;
}
.mainheader nav ul li {
width: 100%;
padding:0.5px;
margin: 0 auto;

}

.mainheader nav a:link, .mainheader nav a:visited{
color: #fff;

padding: 10px 25px;
height: 20px;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainHeader nav .active a:visited
{
 background-color: #345673;
 text-shadow: none;
}
.mainheader nav ul li a{
	border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}



.mainheader ul li:hover .sub-menu
{
  display: block;
  font-size: 8px;
  background-color: rgb(123, 187, 233);
  margin : auto;
  

}
.mainheader ul li:hover .sub-menu ul 
{
  display: block;
  margin: 0px;
  padding: 5px;
}
.mainheader ul li:hover .sub-menu ul li
{
   width:100%;
   background-color: transparent;
   text-align: right;
   
  
}
