body{
    margin : 0;
    padding : 0;
    font-family: 'Poppins',sans-serif;
	background: rgb(31, 51, 65);

 }
 .box{
   width:500px;
    border:2px solid black;
   padding: 70px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background:#87e1ff;
   text-align: center;
 }
 .box h1{
	 color:black;
	 text-transform: uppercase;
	 font-weight:500;
	  
 }
 .box input[type="email"],.box input[type="password"]{
	 
	 border:0;
	 background:white;
	 display:block;
	 margin: 20px auto;
	 text-align:center;
	 border:2px solid black;
	 padding:10px 10px;
	 width:200px;
	 outline:rgb(67, 67, 67);
	 border-radius:24px;
	 transition: 0.25s;
 }
 .box input[type="email"]:focus,.box input[type="password"]:focus{
     width:280px;
	 border-color:#a2d2ff;
	 
 }
 .box input[type="submit"]{
	 border:0;
	 background:yellow;
	 display:block;
	 margin: 20px auto;
	 text-align:center;
	 border:2px solid #000000;
	 padding:10px 10px;
	 width:100px;
	 outline:white;
	 border-radius:24px;
	 transition: 0.25s;
	 cursor:pointer;
	 
 }
 .box input[type="submit"]:hover{
     background: none;
 }
 a{
     color: black;
     
 }
 a:hover{
     color: #073b4c;
 }